@import "tailwindcss";

html {
  font-size: 15px;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-25%);
  }
}

.animate-slide {
  animation: slide 12s linear infinite;
}

.animate-slide:hover {
  animation-play-state: paused;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
